{% extends 'base.html' %}
{% block content %}
<div class="section-title text-center">
    <h2 class="menu-item-name">Your Addresses:</h2>
  <div id="features" class="text-center d-flex justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        {% if object_list %}
        {% for address in object_list %}
          <div class="col-xs-12 col-sm-8 border m-3" Style="background-color:#E5E7E9;">
            <div class="features-item">
                <h3>{{address.city}}, {{address.street}}, {{address.alley}} Main Address{{address.is_primary}}</h3>
                <hr>
              
                <div>
                  {% if not address.is_primary %}
                  <a href="{% url 'customer_delete_address' address.pk%}" class="btn btn-danger btn-sm">Delete</a>
                  {% endif %}
                  <a href="{% url 'customer_edit_address' address.pk %}" class="btn btn-secondary btn-sm" Style="background-color:#2980B9;">Edit</a>   
                </div>
                <br>      
              </div>
          </div>
        {% endfor %}
        {% endif %}
      </div>
      <br>
      <a href="{% url 'customer_add_address' user.pk %}" class="btn btn-success btn-sm" Style="background-color:#2980B9;">Add New Address</a>
      <a href="{% url 'customer_panel' %}" class="btn btn-secondary btn-sm" Style="background-color:#2980B9;">Back to Panel</a>
    </div>
</div>
</div>
</div>
{% endblock content %}