{% extends 'base.html' %}

{% block section %}
<div id="features" class="text-center">
    <div class="container">
      <div class="section-title">
        <h3>Welcome to Your Panel</h3><h2> {{user.username}}</h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">
          </div>

        </div>
        <div>
            {% comment %} <a class="btn btn-sm border" href="{% url 'customer_edit_profile' customer.pk %}">Edit Profile</a> {% endcomment %}
            <br>
            <a class="btn btn-sm border" href="{% url 'customer_view_address' user.pk %}">View Addresses</a>
            <a class="btn btn-sm border" href="{% url 'customer_orders' user.pk %}">View Your Orders</a>

        </div>

    </div>
</div>
</div>

{% endblock section %}