{% extends 'base.html' %}


{% block content %}
<div id="features" class="text-center">
    <div class="container">
      <div class="section-title">
        <h3>Welcome to Your Panel</h3><h2> {{user.username}}</h2>
      </div>
      <div class="row">


        <div class="col-xs-12 col-sm-3">
          <br>
          <ul class="nav nav-tabs nav-stacked flex-column">
            <li>
              <a class="btn btn-secondary btn-sm" href="{% url 'view_branch_info' user.pk %}" style="background-color:#2980B9;">View Branch Informations</a>
            </li>
            <li>
              <a class="btn btn-secondary  btn-sm" href="{% url 'view_branch_menu' user.pk %}" style="background-color:#2980B9;">View Branch Menu</a>
            </li>
            <li>
              <a class="btn btn-secondary  btn-sm" style="background-color:#2980B9;" href="manager_view_orders">View Orders</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="features-item">
            <h3>Informations:</h3>
            <p>{{user.email}}</p>
            <p>{{user.username}}</p>

            <a class="btn btn-secondary  btn-sm" href="{% url 'edit_manager_info' user.pk %}" style="background-color:#2980B9;">Edit Info</a>
        </div>
    </div>
</div>
</div>


</div>



{% endblock content %}