{% extends 'base.html' %}
{% block content %}




<div class="section-title text-center">
    <h2>Your Branches Are:</h2>
  </div>
  <div id="features" class="text-center d-flex justify-content-center">
    <div class="container">
      <div class="row">
        {% for branch in object_list %}
        <div class="col-xs-12 col-sm-12 border" Style="background-color:#E5E7E9;">
          <div class="features-item">
            <h3 class="menu-item-name">{{branch.name}}</h3>
            <hr>
            
            <p>Restaurant: {{branch.restaurant}}<p>
            <p>Category : {{branch.branch_category}}</p>
            <p>Address : {{branch.city}},{{branch.address}}</p>
            
            {% if is_primary %}
            <small class="card-text">Main Branch</small>

            {% endif %}
            
            <div >
                <a href="{% url 'edit_branch_info' branch.pk %}" class="btn btn-secondary btn-sm" Style="background-color:#2980B9;">Edit Branch Information</a>
                 
            </div>
          </div>
          <br>

          <br>
        </div>
        {% endfor %}

      </div>
      <br>
      <a href="{% url 'manager_panel'  %}" class="btn btn-secondary btn-sm" Style="background-color:#2980B9;">Back to Panel</a>

    </div>
  </div>




{% endblock content %}