{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block section %}
          <a  href = "{% url 'add_category' %}" type="button" class="btn btn-primary">Add Category</a>
          <a  href = "{% url 'food_list' %}" type="button" class="btn btn-primary">Foods List</a>
{% endblock section %}
{% block form %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add Food</h5>
              </div>
              <div class="modal-body">
              
                  <form method="POST" enctype="multipart/form-data">
  
                      {% csrf_token %}
                      {% comment %} {{form|crispy}} {% endcomment %}
                      {{form.as_p}}
                      {% comment %} <button type='submit'>Add</button> {% endcomment %}
                      <div class="modal-footer">
                      
                      <button type="submit" class="btn btn-success">Save changes</button>
                      <a href="{% url 'food_list' %}" class="btn btn-secondary" data-dismiss="modal">Close</a>
                      
                      </div>
                  </form>
              </div>
                
              
            </div>
          </div>
          
        

{% endblock form %}
