{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="features" class="text-center">
  <div class="container">
    <div class="row-cols-3 row-cols-md-3 m-2 d-flex flex-column align-items-center">

      {% if not user.is_authenticated %}
      <h2>Your Cart</h2>
      {% endif %}

      {% if user.is_authenticated %}
      <h2>{{user.username}}'s Cart</h2>
      {% endif %}

      
      {% if order.orderitem_set.all %}
        {% for orderitem in order.orderitem_set.all %}
            <div class="col">
              <div class="card h-100  bg-dark text-light">
                <img src="{{orderitem.menu.food.image.url}}" class="card-img-top" alt="{{orderitem.menu.food.name}}" style="height:30vh;">
                <div class="card-body">
                  <h4 class="card-title text-light">{{orderitem.menu.food.name}}</h4>
                  <hr>
                  {% comment %} <p class="card-text text-secondary">
                    <i style="font-weight: bold; font-size: small">Price:</i>
                    {{orderitem.menu.price}} Toman
                  </p> {% endcomment %}
                  <p class="card-text text-secondary">
                    <i style="font-weight: bold; font-size: small">Number:</i> 
                    {{orderitem.number}}
                  </p>
                  <p class="card-text text-secondary">
                    <i style="font-weight: bold; font-size: small">Total Price:</i> 
                    {{orderitem.get_total_price }}
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted d-block mb-3">{{orderitem.menu.food.type_category}}</small>
                  <a href="{% url 'delete_ordered_item' orderitem.pk %}" class="btn btn-danger btn-sm">Delete</a>
                  <a href="{% url 'edit_ordered_item' orderitem.pk %}" class="btn btn-info btn-sm">Edit</a>
                </div>
              </div>
            </div>
        {% endfor %}
        {% if user.is_authenticated %}
          <form method="POST">
            {% csrf_token %}
            <p><label for="id_food_category">Choose Address:</label> 
              <select name="customer_address" class="form-control" required="" id="id_food_category">
                {% for address in  addresses %}
                  <option>{{address.city}}, {{address.street}}, {{address.number}}</option>
                {% endfor %}
              </select></p>
            <button class="btn btn-success btn-sm" type="submit">Confirm Card</button>
          </form>
      {% else %}
        <div class="card-body">
          <p>Please Login First: </p>
          <a class="btn btn-success btn-sm" href="{% url 'account_login' %}" class="btn btn-success">Login</a>
        </div>
      {% endif %}
        {% else %}
          {% if not msg %}
          <div class="col">
          <p3>You Have No Order Yet</p3>
          </div>
          {% endif %}
        {% endif %}

      


      {% if msg %}
      <p>{{msg}}</p>
      <a class="btn btn-success btn-sm" href="{% url 'customer_panel' %}" class="btn btn-success">Back to Panel</a>
      {% endif %}
      <br>
    </div>
  </div>
</div>
{% endblock content %}
