{% extends 'base.html' %}
{% block form %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>Are you sure you want to delete this item?</p>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    <a href="{% url 'cart' %}" class="btn btn-secondary btn-sm" >Close</a>
                </form>
              </div>
            </div>
        </div>
{% endblock form %}