{% extends 'base.html' %}

{% block section %}
<div class="section-title text-center">
  <h2>Menues</h2>
</div>
<div id="features" class="text-center d-flex justify-content-center">
  <div class="container">
    <div class="row">
      {% for menu in  object_list %}
      {% if  menu.remaining > 0%}
      <div class="col-xs-12 col-sm-4 border">
        <div class="features-item">
          <h3>{{menu.food.name}}</h3>
          <img src= {{menu.food.image.url}}  class="img-responsive "  alt="{menu.food.name}}">
          <p>Description: {{menu.food.description}}</p>
          <p>Remaining: {{menu.remaining}}</p>
          <small class="card-text">Price: {{menu.price}}</small>
        </div>
        <br>
        <div >
          <a href="{% url 'items' menu.pk %}" class="btn btn-dark btn-sm ">Add to Card</a>
        </div>
        <br>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock section %}