{% extends 'base.html' %}
{% block content %}





<div id="features" class="text-center">
  <p>{{message}}</p>
  {% comment %} <div class="container"> {% endcomment %}
    <div class="section-title">
      <h3>Add Item to Card:</h3>
    </div>
    {% comment %} <div class="row"> {% endcomment %}
      {% comment %} <div class="col-xs-12 col-sm-4"> {% endcomment %}
        <div class="features-item">
          <img src="{{food.food.image.url}}" class=" img-responsive" alt='{{food.food}}'>
            <div class="card-body">
              <h5 class="card-title text-light">{{food.food}}</h5>
            </div>
            {% if message %}
            <p> {{message}}</p>
            {% endif %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price: {{food.price}} Toman</li>
            </ul>
              
            <div class="card-body">
              <form method="POST" action="{% url 'items' food.id %}">
                {% csrf_token %}
                <input min="1" value=1 type="number" name="number">
                <br>
                <br>
                <input class="btn btn-dark btn-sm" type="submit" value="Add to Cart">
              </form>
            </div>
          {% comment %} </div>
        </div> {% endcomment %}
      {% comment %} </div> {% endcomment %}
  </div>
</div>



{% endblock content %}