{% extends 'base.html' %}

{% block section %}

{% comment %} {% for menu in  object_list %}

  <div class="row row-cols-1 row-cols-md-4 g-4 px-2 m-2">
    <div class="col">
      <div class="card bg-dark text-light">
        <img src="{{menu.food.image.url}}" class="img-responsive" alt="{{menu.food.name}}">
        <div class="card-body">
          <h5 class="card-title">{{menu.food.name}}</h5>
          <p class="card-text">Description: {{menu.food.description}}</p>
          <small class="card-text">Price: {{menu.price}}</small>
        </div>
        <div class="card-footer">  
          <a href="{% url 'items' menu.pk %}" class="btn btn-light btn-sm ">Add to Card</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %} {% endcomment %}


{% comment %} <div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Menu</h2>
    </div> {% endcomment %}
<div class="section-title text-center">
  <h2>Menu</h2>
</div>
<div id="features" class="text-center">
  <div class="container">
    <div class="row">
      {% for menu in  object_list %}
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>{{menu.food.name}}</h3>
          <img src= {{menu.food.image.url}}  class="img-responsive" alt="{menu.food.name}}">
          <p>Description: {{menu.food.description}}</p>
          <small class="card-text">Price: {{menu.price}}</small>
        </div>
        
          <a href="{% url 'items' menu.pk %}" class="btn btn-light btn-sm ">Add to Card</a>
        
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock section %}