{% extends 'base.html' %}
{% load static %}



{% block section %}


<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Most Popular Foods</h2>
    </div>
    
    <div class="row">
      {% for food in most_sold_foods %}
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">   
          <h3>{{food.name}}</h3>
          <img src="{{food.image.url}}"  class="img-responsive" alt="{{food.name}}">
          <p>{{food.food_menu.branch}}</p>
        </div>
      </div>
      {% endfor %}
      {% comment %} <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Consectetur adipiscing</h3>
          <img src="img/specials/2.jpg" class="img-responsive" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Duis sed dapibus</h3>
          <img src="img/specials/3.jpg" class="img-responsive" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
</div>
<ul id="branch_ul"></ul>
<ul id="food_ul"></ul>

<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Most Popular Restaurants</h2>
    </div>
    
    <div class="row">
      {% for branch in most_sold_branches %}           
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">   
          <h3>{{branch.name}}</h3>
          <p>{{branch.city}}</p>
        </div>
      </div>
      {% endfor %}
      {% comment %} <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Consectetur adipiscing</h3>
          <img src="img/specials/2.jpg" class="img-responsive" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Duis sed dapibus</h3>
          <img src="img/specials/3.jpg" class="img-responsive" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
</div>

<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>List of All Restaurants</h2>
    </div>
    
    <div class="row">
      {% for branch in  object_list %}           
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">   
          <h3>{{branch.name}}</h3>
          <p>In {{branch.city}}</p>
          <a href="{% url 'menu_list' branch.pk %}" class="btn btn-secondary btn-sm"> Menu</a>
        </div>
      </div>
      {% endfor %}
      {% comment %} <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Consectetur adipiscing</h3>
          <img src="img/specials/2.jpg" class="img-responsive" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Duis sed dapibus</h3>
          <img src="img/specials/3.jpg" class="img-responsive" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
</div>


{% comment %} 
    <div class="container">
      <div class="row p-4 ">
        <div class="col-6 ">
          <ul class="list-group list-group-flush rounded">
            <li class="list-group-item active">List of the Restaurants</li>
          </ul>
          {% for branch in  object_list %}
          <div class="w-100">
            <div class="card ">
              <div class="card-body bg-dark rounded">
                <h5 class="card-title text-light">{{branch.name}}</h5>
                <p class="card-title text-light">In {{branch.city}}</p>
                <a href="{% url 'menu_list' branch.pk %}" class="btn btn-secondary btn-sm"> Menu</a>
              </div>
            </div>
          </div>
        {% endfor %}
    
        </div>
        <div class="col">
          <ul class="list-group list-group-flush rounded">
            <li class="list-group-item active">Most Popular Foods</li>
            {% for food in most_sold_foods %}
            <li class="list-group-item">{{food.name}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col">
          <ul class="list-group list-group-flush rounded">
            <li class="list-group-item active">Most Popular Restaurants</li>
            {% for branch in most_sold_branches %}
            <li class="list-group-item">{{branch.name}}</li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div> {% endcomment %}
{% endblock section %}



{% block script %}
<script>
    var CSRF_TOKEN = '{{ csrf_token }}';
    var URL = "{% url 'home' %}"
</script>
<script src={% static '/js/searchbar.js' %}></script>
{% endblock script %}